@import '../utils/colors.scss';

.primary {
  [data-name="heading"] {
    margin: 3px;
    color: $blue_400;
  }
  [data-name="label"] {
    background-color: $cyan_200;
    border-radius: .15rem;
  }
  [data-name="input"] {
    border-color: $blue_400;
    color: $blue_400;
    font-weight: 700;

    &:focus {
      border-color: $blue_500;
    }
  }
  [data-name="error-message"] {
    color: $red_400;
  }
  &-error {
    border-color: $red_400 !important;
  }
}
