@import '../utils/styles/styles.scss';
@import '../utils/styles/fonts.scss';

.label {
  @extend %fontTuraRegular;
  color: $cool_gray_600;
  font-size: 0.75rem;
}

.input.input[type='checkbox'] {
  appearance: none;
  cursor: pointer;
  border-radius: 0.75rem;
  margin: 0;

  border: 0.15em solid $cool_gray_300;
  height: 1.55rem;
  width: 3rem;
  padding: 0.05rem 0.05rem;
  background-color: $cool_gray_100;
  position: relative;

  &::before {
    content: '';
    box-sizing: border-box;
    display: block;
    width: 1.3rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: $cool_gray_300;
    transition: transform 0.15s;
    transform: translateX(2%);
  }

  &:checked::before {
    transform: translateX(100%);
  }
}
