@import '../utils/styles/styles.scss';

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
  font-weight: 700;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 1rem;
  margin-top: 0;
}
