@import '../../../components/utils/styles/styles.scss';

%defaultIButtonStyles {
  cursor: pointer;
  width: 100px;
  background-color: transparent;
  overflow: hidden;
  border-radius: 50%;
  transition: 0.3s;
  border: 0;

  &[error] {
    background-color: $red_300;
    color: $white;

    &:hover {
      background-color: rgba($color: $red_400, $alpha: 0.8);
    }

    &:active {
      background-color: rgba($color: $red_400, $alpha: 0.9);
    }
  }
}

.ibutton {
  position: relative;

  &-default {
    @extend %defaultIButtonStyles;

    &:hover {
      background-color: $cool_gray_100;
    }

    &:active {
      transition: 0.5s;
      background-color: rgba($color: $cool_gray_200, $alpha: 0.7);
    }

    &[disabled] {
      background-color: $cool_gray_300;
      color: $cool_gray_500;
      cursor: not-allowed;
    }
  }

  &-primary {
    @extend %defaultIButtonStyles;

    background-color: $blue_200;
    color: $blue_300;

    &:hover {
      background-color: rgba($color: $blue_300, $alpha: 0.8);
      color: $blue_200;
    }

    &:active {
      transition: 0.5s;
      background-color: $blue_300;
    }

    &[disabled] {
      background-color: $blue_400;
      color: $blue_300;
      cursor: not-allowed;
    }
  }
}

.touch {
  &[error] {
    background-color: $red_400;
  }
  &-default {
    background-color: rgba($color: $cool_gray_400, $alpha: 0.4);
  }

  &-primary {
    background-color: $blue_300;
  }

  &-active {
    animation: touchRippleWaveAction 0.5s;
  }
}

.label {
  &-default {
    background-color: $cool_gray_200;
    
    &[disabled] {
      background-color: $cool_gray_300;
      color: $cool_gray_600;
    }
  }

  &-primary {
    background-color: $blue_200;
    color: $blue_300;

    &[disabled] {
      background-color: $blue_400;
      color: $blue_300;
    }
  }
}

.small {
  width: 2.5rem;
  height: 2.5rem;
}

.medium {
  width: 3.125rem;
  height: 3.125rem;
}

.large {
  width: 3.75rem;
  height: 3.75rem;
}

@keyframes touchRippleWaveAction {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
