.avatar {
  border: 1px solid #ccc;
  border-radius: 50%;
}

.small {
  width: 20px !important;
  height: 20px !important;
  font-size: 10px !important;
}

.medium {
  width: 35px !important;
  height: 35px !important;
  font-size: 14px !important;
}

.large {
  width: 50px !important;
  height: 50px !important;
  font-size: 18px !important;
}