@import '../utils/styles/colors.scss';
@import '../utils/styles/placeholders.scss';

//default component styles
[data-name='badge'] {
  box-sizing: border-box;
  color: $white;
  min-width: 0.625rem;
  min-height: 0.625rem;
  border-radius: 50%;
  border: 2px solid transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  &[aria-disabled='true'] {
    background-color: $cool_gray_400;
    border-color: $cool_gray_500;
    color: $cool_gray_200;
  }
}

// stiles
.default {
  @extend %PAvatarStatuses;
  [data-name='avatar'] {
    border: 2px solid $cool_gray_400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $cool_gray_200;
    color: $cool_gray_400;
    font-weight: 600;

    &[aria-disabled='true'] {
      background-color: $cool_gray_400;
      border-color: $cool_gray_500;
      color: $cool_gray_200;
    }
  }

  [data-name='badge'] {
    &[aria-disabled='true'] {
      background-color: $cool_gray_400;
      border-color: $cool_gray_500;
      color: $cool_gray_200;
    }
  }
}

.primary {
  @extend %PAvatarStatuses;
  [data-name='avatar'] {
    border: 2px solid $cool_gray_400;
    background-color: $cyan_400;
    border-color: $blue_400;
    color: $white;
    font-weight: 600;

    &[aria-disabled='true'] {
      background-color: $cyan_500;
      border-color: $blue_500;
      color: $cool_gray_200;
    }
  }

  [data-name='badge'] {
    &[aria-disabled='true'] {
      background-color: $cyan_500;
      border-color: $blue_500;
    }
  }

  [data-name='abbreviation'] {
    color: blue;
  }

  [data-status='primary'] {
    background-color: $cyan_400;
    border-color: $blue_400;
  }
}

// sizes
div.small {
  width: 1.25rem;
  height: 1.25rem;
  font-size: 0.5rem;
}
div.medium {
  width: 2.188rem;
  height: 2.188rem;
  font-size: 0.875rem;
}
div.large {
  width: 3.125rem;
  height: 3.125rem;
  font-size: 1.25rem;
}
